@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  background-color: white !important;
}

.flex-all-center {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
}

table tbody::-webkit-scrollbar {
  /* Set display to none */
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .remove-arrow::-webkit-inner-spin-button, 
        .remove-arrow::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        } 
  
        .remove-arrow { 
            -moz-appearance: textfield; 
        } */

/* code for calendar used for leave managemanet system */

button.react-calendar__tile.react-calendar__month-view__days__day {
  border: 1px solid #80808014;
  padding: 30px;
}

.highlighted-date {
  margin-left: 20px;
}

.react-calendar {
  width: 95% !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-size: 20px;
  font-weight: 700;
}

.text-area {
  /* height: 12rem;
  padding-left: 45px; */

  padding: 5rem 0rem;
  padding-left: 45px;
  white-space: pre-wrap;
  width: 100%;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.text-area {
  white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
  overflow-wrap: break-word; /* Break words when needed */
  word-wrap: break-word; /* Compatibility for older browsers */
  width: 100%; /* Ensure the input takes the full width */
}

/* code for calendar used for leave managemanet system */
